// Place all the styles related to the Ticket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@media (min-width: 481px){
    .appWrapper{
        font-family: sans-serif;
        .earnings{
            padding-top: 50px;
            font-size: 50px;
            font-weight: 700;
            text-align: center;
        }
        .ticketsWrapper{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0 20px 0 20px;
            .ticket{
                margin: 0 auto;
                min-width: 270px;
                margin-top: 50px;
                display: flex;
                flex-flow: column;
                padding: 10px;
                box-sizing: border-box;
                border: 1px rgba(0,0,0,0.2) solid;
                border-radius: 5px;
                .price{
                    font-size: 30px;
                    text-align: center;
                    margin-top: 20px;
                }
                .ticketBought{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 20px;
                    height: 100px;
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    font-size: 30px;
                }
                .ticketMistake{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
                    height: 40px;
                    text-decoration: none;
                    color: black;
                    border: 2px solid black;
                    font-size: 30px;
                }
            }
        }
    }
}

@media (max-width: 480px){
    .appWrapper{
        font-family: sans-serif;
        .earnings{
            padding-top: 20px;
            font-size: 50px;
            font-weight: 700;
            text-align: center;
        }
        .ticketsWrapper{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100vw;
            padding: 0 3% 0 3%;
            .ticket{
                margin: 0 auto;
                width: 45%;
                margin-top: 20px;
                display: flex;
                flex-flow: column;
                padding: 10px;
                box-sizing: border-box;
                border: 1px rgba(0,0,0,0.2) solid;
                border-radius: 5px;
                .price{
                    font-size: 30px;
                    text-align: center;
                    margin-top: 20px;
                }
                .ticketBought{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 20px;
                    height: 100px;
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    font-size: 30px;
                }
                .ticketMistake{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
                    height: 40px;
                    text-decoration: none;
                    color: black;
                    border: 2px solid black;
                    font-size: 30px;
                }
            }
        }
    }
}